# 1 : แนะนำภาษา Python (Python Introduction)

        Python คือ ภาษาที่ใช้สำหรับทำงานได้ทั่วไป ออกแบบมาให้ใช้งานง่าย โดยใช้ Keyword ภาษาอังกฤษที่เข้าใจง่าย เพื่อให้สะดวกกับผู้เขียนโปรแกรม รวมทั้งมี Library ที่สนับสนุนการทำงานทางด้าน Data Analytic อย่างมากมาย
        
                                                                                        Data Science ง่าย . . by New ew ew

    วิธีการใช้ Jupyter เบื้องต้น

    Ctrl + Enter  : Run บรรทัดที่เลือก

    Shift + Enter : Run บรรทัดที่เลือก แล้วขยับไปบรรทัดถัดไป

    A : เพิ่มบรรทัดว่างด้านบน

    B : เพิ่มบรรทัดว่างด้านล่าง

    C : Copy บรรทัดที่เลือก

    V : Paste บรรทัดที่เลือก
    
    D + D : Delete บรรรทัดที่เลือก

In [ ]:
print("Hello, Data Science!");

In [ ]:
print "Hello, Data Science

## 1) Basic Syntax

In [1]:
# Lines & Indent
number = 1
if number==1:
    print("number is equal to 1")

number is equal to 1

In [3]:
if number==1:
    print("number is equal to 1")

number is equal to 1

In [4]:
# Multi-Line Statements
number_a = 1
number_b = 2
number_c = 3

In [5]:
total_number = number_a + number_b + number_c
print(total_number)

6

In [6]:
total_number = number_a + \
                number_b + \
                number_c

print(total_number)

6

In [7]:
list_a = [1,2,3,4]
print(list_a)

[1, 2, 3, 4]

In [8]:
list_a = [1,2,
          3,4]
print(list_a)

[1, 2, 3, 4]

In [9]:
# Quotation
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""

In [10]:
print(word)
print(sentence)
print(paragraph)

word
This is a sentence.
This is a paragraph. It is
made up of multiple lines and sentences.

In [11]:
# Comments

# This is comment
''' This is so longgggg 
long long long comment'''

' This is so longgggg \nlong long long comment'

In [12]:
# Blank lines

print(" Hello guys,\n my name is New ew ew")

 Hello guys,
 my name is New ew ew

## 2) Elementary Data Types

| &nbsp;  |      Data Type    |   Example   | 
|:--------|:-----------------:|:------------|
|Number   | Integer           | data_int = 2       |
| &nbsp;  | Long integer      | data_long = 2**100     | 
| &nbsp;  | Floating point    | data_float = 3.92   | 
| &nbsp;  | Boolean           | data_bool = True    |
|Text     | Character         | data_char = 'a'     |
| &nbsp;  | String            | data_string = "hello"|

In [13]:
data_int = 2 # Integer
print("data_int    : ",data_int, type(data_int))

data_long = 2**100 # Long integer
print("data_long   : ",data_long, type(data_long))

data_float = 3.92 # Floating point
print("data_float  : ",data_float, type(data_float))

data_bool = True # Boolean
print("data_bool   : ",data_bool, type(data_bool))

data_char = 'a' # Character
print("data_char   : ",data_char, type(data_char))

data_string = "hello" # String
print("data_string : ",data_string, type(data_string))

data_int    :  2 <class 'int'>
data_long   :  1267650600228229401496703205376 <class 'int'>
data_float  :  3.92 <class 'float'>
data_bool   :  True <class 'bool'>
data_char   :  a <class 'str'>
data_string :  hello <class 'str'>

In [14]:
# Arithmetic Operations
x = 2            # integer
x1 = x + 3       # addition 
x2 = x * 4       # multiplication
x += 5           # x = x + 5
x3 = x       
x *= 6           # x = x * 6
x4 = x      
x5 = x % 4       # modulo (remainder) operator

z = 2.5          # floating point number
z1 = z - 1      # subtraction
z2 = z / 2       # division
z3 = z // 2      # integer division
z4 = z ** 2      # square of z 
z5 = z4 ** (0.5)   # square root
z6 = pow(z,2)    # equivalent to square of z
z7 = round(z)    # rounding z to its nearest integer 
z8 = int(z)      # type casting float to int

print('x  : ',x)
print('x1 : ',x1)
print('x2 : ',x2)
print('x3 : ',x3)
print('x4 : ',x4)
print('x5 : ',x5)
print('z  : ',z)
print('z1 : ',z1)
print('z2 : ',z2)
print('z3 : ',z3)
print('z4 : ',z4)
print('z5 : ',z5)
print('z6 : ',z6)
print('z7 : ',z7)
print('z8 : ',z8)

x  :  42
x1 :  5
x2 :  8
x3 :  7
x4 :  42
x5 :  2
z  :  2.5
z1 :  1.5
z2 :  1.25
z3 :  1.0
z4 :  6.25
z5 :  2.5
z6 :  6.25
z7 :  2
z8 :  2

In [15]:
# Using math library
import math

x = 5
print('math.sqrt(x)      : ',math.sqrt(x))      # sqrt(4) = 2
print('math.pow(x,2)     : ',math.pow(x,2))     # 4**2 = 16
print('math.exp(x)       : ',math.exp(x))       # exp(4) = 54.6
print('math.log(x,2)     : ',math.log(x,2))     # log based 2  (default is natural logarithm)
print('math.fabs(-4)     : ',math.fabs(-4))     # absolute value
print('math.factorial(x) : ',math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

z = 0.5
print('math.ceil(z)      : ',math.ceil(z))      # ceiling function
print('math.floor(z)     : ',math.floor(z))     # floor function
print('math.trunc(z)     : ',math.trunc(z))     # truncate function

z = 2*math.pi            # math.pi = 3.141592653589793 
print('math.pi           : ',math.pi)
print('2*math.pi         : ',2*math.pi )
print('math.sin(z)       :  ',math.sin(z))       # sine function
print('math.tanh(z)      : ',math.tanh(z))      # arctan function

x = math.nan             # not a number
print('math.nan          : ',math.nan)
print('math.isnan(x)     : ',math.isnan(x))

x = math.inf             # infinity
print('math.inf          : ',math.inf)
print('math.isinf(x)     : ',math.isinf(x))

math.sqrt(x)      :  2.23606797749979
math.pow(x,2)     :  25.0
math.exp(x)       :  148.4131591025766
math.log(x,2)     :  2.321928094887362
math.fabs(-4)     :  4.0
math.factorial(x) :  120
math.ceil(z)      :  1
math.floor(z)     :  0
math.trunc(z)     :  0
math.pi           :  3.141592653589793
2*math.pi         :  6.283185307179586
math.sin(z)       :   -2.4492935982947064e-16
math.tanh(z)      :  0.9999930253396107
math.nan          :  nan
math.isnan(x)     :  True
math.inf          :  inf
math.isinf(x)     :  True

In [16]:
# Boolean Operations
y1 = True
y2 = False

print('y1 and y2     : ',y1 and y2)       # logical AND
print('y1 or y2      : ',y1 or y2)        # logical OR
print('y1 and not y2 : ',y1 and not y2)   # logical NOT

y1 and y2     :  False
y1 or y2      :  True
y1 and not y2 :  True

In [17]:
# String Operations
s1 = "This"

print('s1[1:]     : ',s1[1:])                    # print last three characters 
print('len(s1)    : ',len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print('s1.upper() : ',s1.upper())                            # convert to upper case
print('s1.lower() : ',s1.lower())                            # convert to lower case

s2 = "This is a string"
words = s2.split(' ')             # split the string into words
print('words[0]                      : ',words[0])
print('s2.replace(''a'',''another'') : ',s2.replace('a','another'))  # replace "a" with "another"
print('s2.replace(''is'',''at'')     : ',s2.replace('is','at'))      # replace "is" with "at"
print('s2.find("a")                  : ',s2.find("a"))               # find the position of "a" in s2
print('s1 in s2                      : ',s1 in s2)                   # check if s1 is a substring of s2

print('s1 == ''This'' : ',s1 == 'This')               # equality comparison
print('s1 < ''That''  : ', s1 < 'That')                # inequality comparison
print('s2 + " too"    : ',s2 + " too")                # string concatenation
print('(s1 + " ")* 3  : ',(s1 + " ")* 3)              # replicate the string 3 times

s1[1:]     :  his
len(s1)    :  4
Length of string is 4
s1.upper() :  THIS
s1.lower() :  this
words[0]                      :  This
s2.replace(a,another) :  This is another string
s2.replace(is,at)     :  That at a string
s2.find("a")                  :  8
s1 in s2                      :  True
s1 == This :  True
s1 < That  :  False
s2 + " too"    :  This is a string too
(s1 + " ")* 3  :  This This This

## 3) Compound Data Types

In [20]:
# List Object []
intlist = [1, 2, 3, 4, 5]
print('type(intlist) : ',type(intlist))
print('intlist  : ',intlist)
intlist2 = list(range(0,10,2))   # range[startvalue, endvalue, stepsize]
print('intlist2 : ',intlist2)

print('intlist[2]   : ',intlist[2])                # get the third element of the list
print('intlist[:2]  : ',intlist[:2])               # get the first two elements
print('intlist[2:]  : ',intlist[2:])               # get the last three elements of the list
print('len(intlist) : ',len(intlist))              # get the number of elements in the list
print('sum(intlist) : ',sum(intlist))              # sums up elements of the list

intlist.append(11)               # insert 11 to end of the list
print('intlist       : ',intlist)
print('intlist.pop() : ',intlist.pop())             # remove last element of the list
print('intlist       : ',intlist)
print('intlist + [11,13,15] : ',intlist + [11,13,15])      # concatenate two lists
print('intlist * 3   : ',intlist * 3)               # replicate the list
intlist.insert(2,4)              # insert item 4 at index 2  
print('intlist.insert(2,4)        : ',intlist)
intlist.sort(reverse=False)       # sort elements in descending order
print('intlist.sort(reverse=Flase) : ',intlist)

type(intlist) :  <class 'list'>
intlist  :  [1, 2, 3, 4, 5]
intlist2 :  [0, 2, 4, 6, 8]
intlist[2]   :  3
intlist[:2]  :  [1, 2]
intlist[2:]  :  [3, 4, 5]
len(intlist) :  5
sum(intlist) :  15
intlist       :  [1, 2, 3, 4, 5, 11]
intlist.pop() :  11
intlist       :  [1, 2, 3, 4, 5]
intlist + [11,13,15] :  [1, 2, 3, 4, 5, 11, 13, 15]
intlist * 3   :  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
intlist.insert(2,4)        :  [1, 2, 4, 3, 4, 5]
intlist.sort(reverse=Flase) :  [1, 2, 3, 4, 4, 5]

In [21]:
mylist = ['this', 'is', 'a', 'list']
print('mylist       : ',mylist)
print('type(mylist) : ',type(mylist))

print('"list" in mylist : ',"list" in mylist)          # check whether "list" is in mylist
print('mylist[2]  : ',mylist[2])                 # show the 3rd element of the list
print('mylist[:2] : ',mylist[:2])                # show the first two elements of the list
print('mylist[2:] : ',mylist[2:])                # show the last two elements of the list
mylist.append("too")             # insert element to end of the list

separator = " "
print('separator.join(mylist) : ',separator.join(mylist))    # merge all elements of the list into a string

mylist.remove("is")              # remove element from list
print('mylist.remove("is") :',mylist)

mylist       :  ['this', 'is', 'a', 'list']
type(mylist) :  <class 'list'>
"list" in mylist :  True
mylist[2]  :  a
mylist[:2] :  ['this', 'is']
mylist[2:] :  ['a', 'list']
separator.join(mylist) :  this is a list too
mylist.remove("is") : ['this', 'a', 'list', 'too']

In [22]:
# Dictionary Object {}
abbrev = {}
abbrev['BKK'] = "Suvarnabhumi"
abbrev['KIX'] = "Kansai"
abbrev['JFK'] = "John F. Kennedy"
abbrev['KUL'] = "Kuala Lumpur"


print('abbrev          : ',abbrev)
print('abbrev.keys()   : ',abbrev.keys())            # get the keys of the dictionary
print('abbrev.values() : ',abbrev.values())          # get the values of the dictionary
print('len(abbrev)     : ',len(abbrev))              # get number of key-value pairs

print('abbrev.get(''KIX'') : ',abbrev.get('KIX'))
print('"JFK" in abbrev     : ',"JFK" in abbrev)
print('"BKK" in abbrev     : ',"BKK" in abbrev)

keys = ['apples', 'oranges', 'bananas', 'cherries']
values = [3, 4, 2, 10]
fruits = dict(zip(keys, values))
print('fruits         : ',fruits)
print('sorted(fruits) : ',sorted(fruits))     # sort keys of dictionary

from operator import itemgetter
print('Sort by key   : ',sorted(fruits.items(), key=itemgetter(0)))    # sort by key of dictionary
print('Sort by value : ',sorted(fruits.items(), key=itemgetter(1)))    # sort by value of dictionary

abbrev          :  {'BKK': 'Suvarnabhumi', 'KIX': 'Kansai', 'JFK': 'John F. Kennedy', 'KUL': 'Kuala Lumpur'}
abbrev.keys()   :  dict_keys(['BKK', 'KIX', 'JFK', 'KUL'])
abbrev.values() :  dict_values(['Suvarnabhumi', 'Kansai', 'John F. Kennedy', 'Kuala Lumpur'])
len(abbrev)     :  4
abbrev.get(KIX) :  Kansai
"JFK" in abbrev     :  True
"BKK" in abbrev     :  True
fruits         :  {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
sorted(fruits) :  ['apples', 'bananas', 'cherries', 'oranges']
Sort by key   :  [('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]
Sort by value :  [('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

In [23]:
# Tuple Object ()
BKKtuple = ('BKK', 'Suvarnabhumi', 'Bangkok')
KIXtuple = ('KIX', 'Kansai', 'Osaka')
JFKtuple = ('JFK', 'John F. Kennedy', 'New York')

print('BKKtuple     : ',BKKtuple)
print('BKKtuple[1:] : ',BKKtuple[1:])

airports = [BKKtuple, KIXtuple, JFKtuple]    # this will create a list of tuples
print('airports        : ',airports)
print('airports[2]     : ',airports[2])
print('airports[2][:]  : ',airports[2][:])
print('airports[2][1:] : ',airports[2][1:])

airports.sort(key=lambda airports: airports[2])  # sort the states by their capital cities
print('Sort by cities : ',airports)

BKKtuple     :  ('BKK', 'Suvarnabhumi', 'Bangkok')
BKKtuple[1:] :  ('Suvarnabhumi', 'Bangkok')
airports        :  [('BKK', 'Suvarnabhumi', 'Bangkok'), ('KIX', 'Kansai', 'Osaka'), ('JFK', 'John F. Kennedy', 'New York')]
airports[2]     :  ('JFK', 'John F. Kennedy', 'New York')
airports[2][:]  :  ('JFK', 'John F. Kennedy', 'New York')
airports[2][1:] :  ('John F. Kennedy', 'New York')
Sort by cities :  [('BKK', 'Suvarnabhumi', 'Bangkok'), ('JFK', 'John F. Kennedy', 'New York'), ('KIX', 'Kansai', 'Osaka')]

## 4) Condition

In [29]:
# using if-else statement

x = 0

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")

x = 0 is even

In [30]:
if x > 0:
    print("x =", x, "is positive")
elif x < 0:
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

x = 0 is neither positive nor negative

## 5) Loop

In [32]:
# using for loop with a list

mylist = ['this', 'is', 'a', 'list']
for word in mylist:
    print('word.replace("is", "at") : ',word.replace("is", "at"))
    
mylist2 = [len(word) for word in mylist]   # number of characters in each word
print('mylist2 : ',mylist2)

# using for loop with list of tuples

airports = [('BKK', 'Suvarnabhumi', 'Bangkok'),('KIX', 'Kansai', 'Osaka'),
          ('JFK', 'John F. Kennedy', 'New York')]

sorted_cities= [airport[2] for airport in airports]
sorted_cities.sort()
print('sorted_cities : ',sorted_cities)

# using for loop with dictionary

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print('fruitnames : ',fruitnames)

word.replace("is", "at") :  that
word.replace("is", "at") :  at
word.replace("is", "at") :  a
word.replace("is", "at") :  latt
mylist2 :  [4, 2, 1, 4]
sorted_cities :  ['Bangkok', 'New York', 'Osaka']
fruitnames :  ['apples', 'oranges', 'bananas', 'cherries']

In [33]:
# using while loop

mylist = list(range(-10,10))
print('mylist : ',mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1
    
print("First non-negative number:", mylist[i])

mylist :  [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First non-negative number: 0

## 6) Functions

In [34]:
myfunc = lambda x: 3*x**2 - 2*x + 3      # example of an unnamed quadratic function

print('myfunc(2) : ',myfunc(2))

myfunc(2) :  11

In [35]:
import math

# The following function will discard missing values from a list
def discard(inlist, sortFlag=False):    # default value for sortFlag is False 
    outlist = []
    for item in inlist:
        if not math.isnan(item):
            outlist.append(item)
            
    if sortFlag:
        outlist.sort()
    return outlist

mylist = [12, math.nan, 23, -11, 45, math.nan, 71]

print('discard(mylist,True) : ',discard(mylist,True))

discard(mylist,True) :  [-11, 12, 23, 45, 71]

## 7) File I/O

In [36]:
airports = [('BKK', 'Suvarnabhumi', 'Bangkok'),('KIX', 'Kansai', 'Osaka'),
          ('JFK', 'John F. Kennedy', 'New York'), ('KUL', 'Kuala Lumpur', 'Kuala Lumpur')]

with open('01_airport.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % airport for airport in airports))

In [37]:
with open('01_airport.txt', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # split each line into its respective fields
        print('State=',fields[1],'(',fields[0],')','City:', fields[2])

State= Suvarnabhumi ( BKK ) City: Bangkok

State= Kansai ( KIX ) City: Osaka

State= John F. Kennedy ( JFK ) City: New York

State= Kuala Lumpur ( KUL ) City: Kuala Lumpur

## สรุปเนื้อหา

1. Basic Syntax : Indent

2. Elementary Data Types : Int, Boolean, Float, String

3. Compound Data Types : List, Dictionary, Tuple

4. Condition : if, elif, else

5. Loop : for, while

6. Functions : lambda, def

7. File I/O : read, write