# 3. Pandas Package

    คือ Package พื้นฐานสำหรับจัดการและวิเคราะห์ข้อมูลตารางต่างๆ ได้ง่าย

                                                                                        Data Science ง่าย . . by New ew ew

In [ ]:
!pip install pandas

In [ ]:
!pip install matplotlib

## 1) Pandas Series

In [ ]:
from pandas import Series

s = Series([3.1, 2.4, -1.7, 0.2, -2.9, 4.5])   # creating a series from a list
print('s : ')
print(s)
print('Values=', s.values)     # display values of the Series
print('Index=', s.index)       # display indices of the Series

In [ ]:
import numpy as np

s2 = Series(np.random.randn(6))  # creating a series from a numpy ndarray
print('s2 : ')
print(s2)
print('Values=', s2.values)   # display values of the Series
print('Index=', s2.index)     # display indices of the Series

In [ ]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2], 
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6',])
print('s3 : ')
print(s3)
print('Values=', s3.values)   # display values of the Series
print('Index=', s3.index)     # display indices of the Series

In [ ]:
capitals = {'MI': 'Lansing', 'CA': 'Sacramento', 'TX': 'Austin', 'MN': 'St Paul'}

s4 = Series(capitals)   # creating a series from dictionary object
print('s4 : ')
print(s4)
print('Values=', s4.values)   # display values of the Series
print('Index=', s4.index)     # display indices of the Series

In [ ]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2], 
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6',])
print('s3 : ')
print(s3)

# Accessing elements of a Series

print('\ns3[2]=', s3[2])        # display third element of the Series
print('s3[\'Jan 3\']=', s3['Jan 3'])   # indexing element of a Series 

print('\ns3[1:3]=')             # display a slice of the Series
print(s3[1:3])
print('s3.iloc([1:3])=')      # display a slice of the Series
print(s3.iloc[1:3])

In [ ]:
print('shape =', s3.shape)  # get the dimension of the Series
print('size =', s3.size)    # get the # of elements of the Series

In [ ]:
print(s3[s3 > 0])   # applying filter to select elements of the Series

In [ ]:
print(s3 + 4)       # applying scalar operation on a numeric Series
print(s3 / 4)

In [ ]:
print(np.log(s3 + 4))    # applying numpy math functions to a numeric Series

## 2) Pandas DataFrame

In [ ]:
from pandas import DataFrame

cars = {'make': ['Ford', 'Honda', 'Toyota', 'Tesla'],
       'model': ['Taurus', 'Accord', 'Camry', 'Model S'],
       'MSRP': [27595, 23570, 23495, 68000]}          
carData = DataFrame(cars)   # creating DataFrame from dictionary
carData                     # display the table

In [ ]:
print(carData.index)       # print the row indices
print(carData.columns)     # print the column indices

In [ ]:
carData2 = DataFrame(cars, index = [1,2,3,4])  # change the row index
carData2['year'] = 2018    # add column with same value
carData2['dealership'] = ['Courtesy Ford','Capital Honda','Spartan Toyota','N/A']
carData2                   # display table

In [ ]:
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = DataFrame(tuplelist, columns=columnNames)
weatherData

In [ ]:
import numpy as np

npdata = np.random.randn(5,3)  # create a 5 by 3 random matrix
columnNames = ['x1','x2','x3']
data = DataFrame(npdata, columns=columnNames)
data

In [ ]:
# accessing an entire column will return a Series object

print(data['x2'])
print(type(data['x2']))

In [ ]:
# accessing an entire row will return a Series object

print('Row 3 of data table:')
print(data.iloc[2])       # returns the 3rd row of DataFrame
print(type(data.iloc[2]))
print('\nRow 3 of car data table:')
print(carData2.iloc[2])   # row contains objects of different types

In [ ]:
# accessing a specific element of the DataFrame

print(carData2.iloc[1,2])      # retrieving second row, third column
print(carData2.loc[1,'model']) # retrieving second row, column named 'model' ** index 1 row 'Taurus'

# accessing a slice of the DataFrame

print('carData2.iloc[1:3,1:3]=')
print(carData2.iloc[1:3,1:3])

In [ ]:
print('carData2.shape =', carData2.shape)
print('carData2.size =', carData2.size)

In [ ]:
# selection and filtering

print('carData2[carData2.MSRP > 25000]')  
print(carData2[carData2.MSRP > 25000])
print(carData2[carData2.index > 2])
print(carData2[(carData2.index > 1)&(carData2.index < 4)])

## 3) Arithmetic Operations

In [ ]:
print(data)

print('Data transpose operation:')
print(data.T)    # transpose operation

print('Addition:')
print(data + 4)    # addition operation

print('Multiplication:')
print(data * 10)   # multiplication operation

In [ ]:
print('data =')
print(data)

columnNames = ['x1','x2','x3']
data2 = DataFrame(np.random.randn(5,3), columns=columnNames)
print('\ndata2 =')
print(data2)

print('\ndata + data2 = ')
print(data.add(data2))

print('\ndata * data2 = ')
print(data.mul(data2))

In [ ]:
print(data.abs())    # get the absolute value for each element

print('\nMaximum value per column:')
print(data.max())    # get maximum value for each column

print('\nMinimum value per row:')
print(data.min(axis=1))    # get minimum value for each row

print('\nSum of values per column:')
print(data.sum())    # get sum of values for each column

print('\nAverage value per row:')
print(data.mean(axis=1))    # get average value for each row

print('\nCalculate max - min per column')
f = lambda x: x.max() - x.min()
print(data.apply(f))

print('\nCalculate max - min per row')
f = lambda x: x.max() - x.min()
print(data.apply(f, axis=1))

## 4) Plot Graph

In [ ]:
%matplotlib inline

In [ ]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2,1.4], 
            index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6','Jan 7'])
print ('s3 : ')
print (s3)
s3.plot(kind='line', title='Line plot')

In [ ]:
ax=s3.plot(figsize=(16,6), color='green', marker='o', linestyle='dashed', linewidth=2, markersize=12, kind='line', title='Line plot', 
        label='line 1');
ax.set_xlabel("Month");
ax.set_ylabel("Number");
ax;

In [ ]:
s3.plot(kind='bar', title='Bar plot')

In [ ]:
s3.plot(kind='hist', title = 'Histogram')

In [ ]:
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = DataFrame(tuplelist, columns=columnNames)
weatherData[['temp','precip']].plot(kind='box', title='Box plot')

In [ ]:
%matplotlib notebook
ax=s3.plot(figsize=(14,6), color='green', marker='o', linestyle='dashed', linewidth=2, markersize=12, kind='line', title='Line plot', 
        label='line 1');
ax.set_xlabel("Month");
ax.set_ylabel("Number");
ax;

## สรุปเนื้อหา

1. Series : Series([3.1, 2.4, -1.7, 0.2, -2.9, 4.5])

2. DataFrame : Create from dictionary, tuple, numpy

3. Arithmetic Operations : Transpose, +, -, *, /, abs(), max(), min(), sum(), mean(), apply()

4. Plot Graph : x.plot()